<nav class="docs-navbar-header">
  <a mat-button class="docs-button" routerLink="/">
    <!-- <img class="logo" src="./assets/logo.png" alt="San Vicente de Paul"> -->
    <span>Job Board {{ isLoggedIn }}</span>
  </a>
  <!-- Separador -->
  <div class="flex-spacer"></div>
  <button mat-icon-button [matMenuTriggerFor]="menuAdd" id="add-menu">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menuAdd="matMenu">
    <button mat-menu-item [routerLink]="['project-form']">
      <span>Opening</span>
    </button>
  </mat-menu>
  <a *ngIf="!isLoggedIn" [routerLink]="['/register']" mat-button class="docs-button docs-navbar-hide-small">Register</a>
  <a [routerLink]="['/login']" mat-button class="docs-button docs-navbar-hide-small">{{ isLoggedIn ? 'Cerrar Sesión' : 'Log In' }}</a>

  <div mat-icon-button class="docs-button docs-navbar-show-small">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>{{ isLoggedIn ? 'Cerrar Sesión' : 'Log In' }}</span>
      </button>
      <button *ngIf="!isLoggedIn"  mat-menu-item>
        <span>Register</span>
      </button>
    </mat-menu>
  </div>
</nav>

