.container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 100px auto;
  padding: 20px;
  position: relative;
  border-radius: 6px;
}

.container > * {
  width: 100%;
}

form {
  display: grid;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
